# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\com.jiyun\PracticeOne\springboot-demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
